name: Docker Image - Website (Production)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: []

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to Dock Hub
      run: echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u anywaysopen --password-stdin
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag anywaysopen/routing-api-test-frontend:prod
    - name: Push Docker image.
      run: docker push anywaysopen/routing-api-test-frontend:prod
